# ignore all output in examples dir and ipython checkpoints
examples/*/*dat
examples/*/*.ipynb_checkpoints
examples/*/*log
examples/*/*gnu
examples/*/*pdf
examples/for_Domenico/

# ignore key-note documentation
Documentation.key

# ignore test_data
test_data

__pycache__
test_ham
junk
Hk_w2.dat
